# **Setores Industriais Canadá**

## *- Importando Bibliotecas*

In [1]:
import re
import pandas as pd
from io import StringIO

## *- Extraindo Dados*

In [2]:
with open("Dados/Landing/1410035501-noSymbol.csv", "r") as file:
    conteudo = file.read()

    texto_csv = ""

    conteudo_linhas = conteudo.split("\n")
    conteudo_linhas = conteudo_linhas[11:32]
    del conteudo_linhas[1]

    colunas = conteudo_linhas[0]

    lista_meses = colunas.split(",")
    meses = len(lista_meses[1:])

    for i, linha in enumerate(conteudo_linhas):

        valores = linha.split('"')

        valores = valores[1::2]

        valor_final = ";".join(valores)

        texto_csv += f"{valor_final}\n"

# *- Transformando Dados*

In [ ]:
arquivo_csv = StringIO(texto_csv)

df = pd.read_csv(arquivo_csv, sep=";")

display(df)

In [ ]:
print(df.columns)

In [5]:
#Renomeando a primeira coluna
df = df.rename(columns={"North American Industry Classification System (NAICS) 6": "North American Industry Classification System (NAICS)"})

In [ ]:
first = df.columns[0]

df[first] = df[first].apply(lambda x: re.sub(r"\d", "", x))

display(df[first])

In [ ]:
display(df.head())

In [ ]:


df.iloc[:,1:] = df.iloc[:,1:].map(lambda cel: re.sub(",","", cel))
df.iloc[:,1:] = df.iloc[:,1:].astype(float)



display(df)

In [ ]:
# Traduzindo as colunas
column_translation_dict = {
    'North American Industry Classification System (NAICS)': 'Sistema de Classificação de Indústrias da América do Norte (SCIAN)',
    'January': 'Janeiro',
    'February': 'Fevereiro',
    'March': 'Março',
    'April': 'Abril',
    'May': 'Maio',
    'June': 'Junho',
    'July': 'Julho',
    'August': 'Agosto',
    'September': 'Setembro',
    'October': 'Outubro',
    'November': 'Novembro',
    'December': 'Dezembro'
}


def traduzir_coluna(column):
    for eng, ptbr in column_translation_dict.items():
        if eng in column:
            column = column.replace(eng, ptbr)
    return column


df.columns = df.columns.map(lambda column: column.strip())
df.columns = df.columns.map(traduzir_coluna)

display(df)

In [ ]:
# Traduzindo a primeira coluna
first = df.columns[0]

cell_translation_dict = {
    "Total employed, all industries": "Total empregado, todas as indústrias",
    "Goods-producing sector": "Setor de produção de bens",
    "Agriculture": "Agricultura",
    "Forestry, fishing, mining, quarrying, oil and gas": "Silvicultura, pesca, mineração, extração de pedreiras, petróleo e gás",
    "Utilities": "Serviços públicos",
    "Construction": "Construção",
    "Manufacturing": "Manufatura",
    "Services-producing sector": "Setor de produção de serviços",
    "Wholesale and retail trade": "Comércio atacadista e varejista",
    "Transportation and warehousing": "Transporte e armazenamento",
    "Finance, insurance, real estate, rental and leasing": "Finanças, seguros, imóveis, aluguel e leasing",
    "Professional, scientific and technical services": "Serviços profissionais, científicos e técnicos",
    "Business, building and other support services": "Serviços de negócios, construção e outros serviços de apoio",
    "Educational services": "Serviços educacionais",
    "Health care and social assistance": "Cuidados com a saúde e assistência social",
    "Information, culture and recreation": "Informação, cultura e recreação",
    "Accommodation and food services": "Acomodações e serviços de alimentação",
    "Other services (except public administration)": "Outros serviços (exceto administração pública)",
    "Public administration": "Administração pública"
}


def traduzir_cell(cell):
    for eng, ptbr in cell_translation_dict.items():
        if eng in cell:
            cell = cell.replace(eng,ptbr)
    return cell


df[first] = df[first].map(lambda cell: cell.strip())
df[first] = df[first].map(traduzir_cell)

display(df)

In [11]:
df.to_csv("Dados/Tratados/DadosSetoresCanada.csv", sep=";", index=False)

# *- Loading na S3*

In [12]:
import os
import boto3
from dotenv import load_dotenv


# Carregar variáveis
load_dotenv(r"credentials/.env")

# Configure as cresdencias da AWS
aws_access_key_id = os.getenv("AWS_ACCESS_KEY_ID")
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')

# Crie um client S3
s3 = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)

# Carregue o arquivo para o S3
s3.upload_file(
    Filename='Dados/Tratados/DadosSetoresCanada.csv',
    Bucket='projetofinal-consuelo',
    Key='DadosSetoresCanada.csv'
)

# **Setores e Subsetores NAICS (2020-2023)**

## *- Importando Bibliotecas*

In [1]:
from dotenv import load_dotenv
import pandas as pd
import boto3
import wget
import ssl
import os

## *- Extração*

In [2]:
# Criando diretório (caso não exista)

try:
    os.mkdir("Dados")
    os.mkdir("Dados/Landing")
except:
    pass

In [ ]:
ssl._create_default_https_context = ssl._create_stdlib_context

url = 'https://data.ca.gov/dataset/3f08b68e-1d1a-4ba4-a07d-1ec3392ed191/resource/ca165fad-4f16-48c7-808e-8b5222bc4182/download/qcew-2020-2022.csv'
wget.download(url, 'Dados/Landing/qcew2020-2022.csv')

url = 'https://data.ca.gov/dataset/3f08b68e-1d1a-4ba4-a07d-1ec3392ed191/resource/119eef38-3b59-499f-8f7c-9bea4768469d/download/qcew-2023.csv'
wget.download(url, "Dados/Landing/qcew2023.csv")

## *- Transformação*

### -- Carregamento dos Dados

In [4]:
df2022 = pd.read_csv("Dados/Landing/qcew2020-2022.csv")
df2023 = pd.read_csv("Dados/Landing/qcew2023.csv")

### *-- Traduzindo Colunas*

In [7]:
colunas_traduzidas = {
    'Area Type': 'Tipo de Área',
    'Area Name': 'Nome da Área',
    'Year': 'Ano',
    'Time Period': 'Período de Tempo',
    'Ownership': 'Propriedade',
    'NAICS Level': 'Nível NAICS',
    'NAICS Code': 'Código NAICS',
    'Industry Name': 'Nome da Indústria',
    'Establishments': 'Estabelecimentos',
    'Average Monthly Employment': 'Emprego Médio Mensal',
    '1st Month Emp': 'Emprego no 1º Mês',
    '2nd Month Emp': 'Emprego no 2º Mês',
    '3rd Month Emp': 'Emprego no 3º Mês',
    'Total Wages (All Workers)': 'Salários Totais (Todos os Trabalhadores)',
    'Average Weekly Wages': 'Salário Médio Semanal'
}


df2022.rename(columns=colunas_traduzidas, inplace = True)
df2023.rename(columns=colunas_traduzidas, inplace = True)

In [8]:
display(df2022.head())
print("\n-------------------\n")
display(df2023.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2023,1st Qtr,Private,6.0,524298,All Other Insurance Related Activities,10,223,223,225,223,8.435605e+06,2901
1,County,Alameda County,2023,1st Qtr,Private,2.0,54,Professional and Technical Services,7315,76545,76542,76918,76176,3.445536e+09,3463
2,County,Alameda County,2023,1st Qtr,Private,6.0,541512,Computer Systems Design Services,814,5819,5878,5784,5795,2.162159e+08,2858
3,County,Alameda County,2023,1st Qtr,Private,6.0,541850,Display Advertising,11,160,157,162,163,5.615161e+06,2688
4,County,Alameda County,2023,1st Qtr,Private,6.0,551114,Managing Offices,211,16740,16717,16743,16761,9.291885e+08,4270

### *-- Padronizando Tipos*

In [9]:
#Primeiro transformando para inteiro para tirar o ponto flutuante
df2023['Nível NAICS'] = df2023['Nível NAICS'].astype(pd.Int64Dtype())
df2022['Nível NAICS'] = df2022['Nível NAICS'].astype(pd.Int64Dtype())

#Transformando para string
df2023['Nível NAICS'] = df2023['Nível NAICS'].astype(pd.StringDtype())
df2022['Código NAICS'] = df2022['Código NAICS'].astype(pd.StringDtype())


#Transformando Salário Médio em float
df2023['Salário Médio Semanal'] = df2023['Salário Médio Semanal'].astype(float)
df2022['Salário Médio Semanal'] = df2022['Salário Médio Semanal'].astype(float)

### *-- Juntando Tabelas*

In [10]:
df = pd.concat([df2022, df2023], ignore_index=True)

In [11]:
display(df)

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089532,County,Yuba County,2023,Annual,Private,<NA>,541219,Other Accounting Services,4,14,0,0,0,314380.0,442.0
1089533,County,Yuba County,2023,Annual,Private,<NA>,54143,Graphic Design Services,5,4,0,0,0,133497.0,604.0
1089534,County,Yuba County,2023,Annual,Private,<NA>,5416,Management & Technical Consulting Svc,12,79,0,0,0,7705299.0,1868.0
1089535,County,Yuba County,2023,Annual,Private,<NA>,54194,Veterinary Services,5,31,0,0,0,1386790.0,849.0
1089536,County,Yuba County,2023,Annual,Private,<NA>,56173,Landscaping Services,10,24,0,0,0,844467.0,667.0

### *-- Separando Períodos Anuais dos Trimestrais*

In [12]:
df_anual = df[df['Período de Tempo'] == 'Annual']
df_trimestral = df[df['Período de Tempo'] != 'Annual']

df = df_trimestral # Backup código

In [13]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
202638,County,Alpine County,2020,Annual,Private,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0
202639,County,Butte County,2020,Annual,Private,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0
202640,County,Calaveras County,2020,Annual,Private,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0
202641,County,Calaveras County,2020,Annual,Private,2,23,Construction,180,866,0,0,0,51419983.0,1142.0
202642,County,Alameda County,2020,Annual,Private,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0

### *-- Traduzindo Valores*

In [14]:
# print(set(df["Período de Tempo"]))
# print(set(df["Tipo de Área"]))
# print(set(df["Nome da Área"]))
# print(set(df["Propriedade"]))


# Pedindo tradução ao GPT

temp_dict = {
    '1st Qtr': 'Trimestre 1',
    '2nd Qtr': 'Trimestre 2',
    '3rd Qtr': 'Trimestre 3',
    '4th Qtr': 'Trimestre 4',
    'Annual': 'Anual'
}


tipo_dict = {
    'United States': 'Estados Unidos',
    'California - Statewide': 'Califórnia - Estado',
    'County': 'Condado'
}

nome_dict = {
    'Marin County': 'Condado de Marin',
    'California': 'Califórnia',
    'Nevada County': 'Condado de Nevada',
    'Siskiyou County': 'Condado de Siskiyou',
    'Humboldt County': 'Condado de Humboldt',
    'Santa Barbara County': 'Condado de Santa Bárbara',
    'Fresno County': 'Condado de Fresno',
    'Kern County': 'Condado de Kern',
    'Shasta County': 'Condado de Shasta',
    'Sierra County': 'Condado de Sierra',
    'Merced County': 'Condado de Merced',
    'Lake County': 'Condado de Lake',
    'Contra Costa County': 'Condado de Contra Costa',
    'Solano County': 'Condado de Solano',
    'Santa Clara County': 'Condado de Santa Clara',
    'Butte County': 'Condado de Butte',
    'Ventura County': 'Condado de Ventura',
    'Sacramento County': 'Condado de Sacramento',
    'Mono County': 'Condado de Mono',
    'Orange County': 'Condado de Orange',
    'Calaveras County': 'Condado de Calaveras',
    'Del Norte County': 'Condado de Del Norte',
    'San Benito County': 'Condado de San Benito',
    'Trinity County': 'Condado de Trinity',
    'United States': 'Estados Unidos',
    'Kings County': 'Condado de Kings',
    'Stanislaus County': 'Condado de Stanislaus',
    'Plumas County': 'Condado de Plumas',
    'Mariposa County': 'Condado de Mariposa',
    'Inyo County': 'Condado de Inyo',
    'Riverside County': 'Condado de Riverside',
    'San Diego County': 'Condado de San Diego',
    'Colusa County': 'Condado de Colusa',
    'San Luis Obispo County': 'Condado de San Luis Obispo',
    'San Bernardino County': 'Condado de San Bernardino',
    'Yuba County': 'Condado de Yuba',
    'Napa County': 'Condado de Napa',
    'El Dorado County': 'Condado de El Dorado',
    'Glenn County': 'Condado de Glenn',
    'Monterey County': 'Condado de Monterey',
    'Santa Cruz County': 'Condado de Santa Cruz',
    'Yolo County': 'Condado de Yolo',
    'Amador County': 'Condado de Amador',
    'Tuolumne County': 'Condado de Tuolumne',
    'Lassen County': 'Condado de Lassen',
    'Modoc County': 'Condado de Modoc',
    'Los Angeles County': 'Condado de Los Angeles',
    'San Joaquin County': 'Condado de San Joaquin',
    'Alpine County': 'Condado de Alpine',
    'San Francisco County': 'Condado de San Francisco',
    'Alameda County': 'Condado de Alameda',
    'Tehama County': 'Condado de Tehama',
    'Tulare County': 'Condado de Tulare',
    'Sutter County': 'Condado de Sutter',
    'Imperial County': 'Condado de Imperial',
    'Placer County': 'Condado de Placer',
    'San Mateo County': 'Condado de San Mateo',
    'Mendocino County': 'Condado de Mendocino',
    'Madera County': 'Condado de Madera',
    'Sonoma County': 'Condado de Sonoma'
}


prop_dict = {
    'Total Government': 'Governo Total',
    'Total U.I. Covered': 'Total Coberto pelo Seguro Desemprego',
    'Federal Government': 'Governo Federal',
    'Local Government': 'Governo Local',
    'Total Covered': 'Total Coberto',
    'Private': 'Setor Privado',
    'State Government': 'Governo Estadual'
}

In [15]:
# Substituindo valores

df["Período de Tempo"] = df["Período de Tempo"].map(temp_dict)
df["Tipo de Área"] = df["Tipo de Área"].map(tipo_dict)
df["Nome da Área"] = df["Nome da Área"].map(nome_dict)
df["Propriedade"] = df["Propriedade"].map(prop_dict)

df_anual["Período de Tempo"] = df_anual["Período de Tempo"].map(temp_dict)
df_anual["Tipo de Área"] = df_anual["Tipo de Área"].map(tipo_dict)
df_anual["Nome da Área"] = df_anual["Nome da Área"].map(nome_dict)
df_anual["Propriedade"] = df_anual["Propriedade"].map(prop_dict)

In [16]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
202638,Condado,Condado de Alpine,2020,Anual,Setor Privado,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0
202640,Condado,Condado de Calaveras,2020,Anual,Setor Privado,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0
202641,Condado,Condado de Calaveras,2020,Anual,Setor Privado,2,23,Construction,180,866,0,0,0,51419983.0,1142.0
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0

### *-- Feature Engineering -> Adicionando Coluna de Setores*

In [19]:
# Importando dicionário de outro arquivo para captar setores e subsetores
from pegar_setores import pegar_setores


setores = pegar_setores()

def aplicar_setor(linha):

    valorCell = linha["Nome da Indústria"]

    if valorCell in setores:
        return setores[valorCell]
    else:
        return "NÃO LISTADO"

In [20]:
# Aplicando a função para ambas as tabelas

df["Setor"] = df.apply(aplicar_setor, axis=1)
df_anual["Setor"] = df_anual.apply(aplicar_setor, axis=1)

In [21]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0,NÃO LISTADO
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0,Transportation and Warehousing
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,NÃO LISTADO
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0,"Professional, Scientific, and Technical Services"
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0,Health Care and Social Assistance

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
202638,Condado,Condado de Alpine,2020,Anual,Setor Privado,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0,Retail Trade
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0,NÃO LISTADO
202640,Condado,Condado de Calaveras,2020,Anual,Setor Privado,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0,Utilities
202641,Condado,Condado de Calaveras,2020,Anual,Setor Privado,2,23,Construction,180,866,0,0,0,51419983.0,1142.0,Construction
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0,NÃO LISTADO

In [22]:
# Classificando por Código

codigos_setor = {
    "11": "Agriculture, Forestry, Fishing and Hunting",
    "21": "Mining, Quarrying, and Oil and Gas Extraction",
    "22": "Utilities",
    "23": "Construction",
    # "31-33": "Manufacturing",
    "31": "Manufacturing",
    "32": "Manufacturing",
    "33": "Manufacturing",
    "42": "Wholesale Trade",
    # "44-45": "Retail Trade",
    "44": "Retail Trade",
    "45": "Retail Trade",
    # "48-49": "Transportation and Warehousing",
    "48": "Transportation and Warehousing",
    "49": "Transportation and Warehousing",
    "51": "Information",
    "52": "Finance and Insurance",
    "53": "Real Estate and Rental and Leasing",
    "54": "Professional, Scientific, and Technical Services",
    "55": "Management of Companies and Enterprises",
    "56": "Administrative and Support and Waste Management and Remediation Services",
    "61": "Educational Services",
    "62": "Health Care and Social Assistance",
    "71": "Arts, Entertainment, and Recreation",
    "72": "Accommodation and Food Services",
    "81": "Other Services (except Public Administration)",
    "92": "Public Administration (not covered in economic census)"
}

In [23]:
#Criando uma tabela temporária
temp_df = df[df["Setor"] == "NÃO LISTADO"].copy()

temp_df["Setor"] = temp_df["Código NAICS"].map(lambda cell: codigos_setor[cell.strip()[:2]] if cell.strip()[:2] in codigos_setor else "NÃO LISTADO")

display(temp_df.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0,NÃO LISTADO
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,"Professional, Scientific, and Technical Services"
6,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,1,102,Service-Providing,102,8711,8690,8724,8720,194482582.0,1717.0,NÃO LISTADO
7,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1025,Education and Health Services,1,376,384,376,369,8804659.0,1800.0,NÃO LISTADO
8,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1023,Financial Activities,1,11,11,12,12,369426.0,2436.0,NÃO LISTADO

In [24]:
df[df["Setor"] == "NÃO LISTADO"] = temp_df

display(df)

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0,NÃO LISTADO
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0,Transportation and Warehousing
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,"Professional, Scientific, and Technical Services"
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0,"Professional, Scientific, and Technical Services"
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0,Health Care and Social Assistance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030781,Condado,Condado de Yuba,2023,Trimestre 4,Governo Federal,3,455,General Merchandise Retailers,1,83,83,83,83,492729.0,457.0,Retail Trade
1030782,Condado,Condado de Yuba,2023,Trimestre 4,Setor Privado,3,811,Repair and Maintenance,27,85,88,85,84,1236124.0,1110.0,Other Services (except Public Administration)
1030783,Condado,Condado de Yuba,2023,Trimestre 4,Setor Privado,4,8122,Death Care Services,5,51,50,52,51,679140.0,1024.0,Other Services (except Public Administration)
1030784,Condado,Condado de Yuba,2023,Trimestre 4,Governo Local,2,81,"Other Services, Ex. Public Admin",2,5,6,6,5,15705.0,213.0,Other Services (except Public Administration)
1030785,Condado,Condado de Yuba,2023,Trimestre 4,Governo Local,4,8122,Death Care Services,2,5,6,6,5,15705.0,213.0,Other Services (except Public Administration)