# **Setores Industriais Canadá**

## *- Importando Bibliotecas*

In [1]:
import re
import pandas as pd
from io import StringIO

## *- Extraindo Dados*

In [2]:
with open("Dados/Landing/1410035501-noSymbol.csv", "r") as file:
    conteudo = file.read()

    texto_csv = ""

    conteudo_linhas = conteudo.split("\n")
    conteudo_linhas = conteudo_linhas[11:32]
    del conteudo_linhas[1]

    colunas = conteudo_linhas[0]

    lista_meses = colunas.split(",")
    meses = len(lista_meses[1:])

    for i, linha in enumerate(conteudo_linhas):

        valores = linha.split('"')

        valores = valores[1::2]

        valor_final = ";".join(valores)

        texto_csv += f"{valor_final}\n"

# *- Transformando Dados*

In [ ]:
arquivo_csv = StringIO(texto_csv)

df = pd.read_csv(arquivo_csv, sep=";")

display(df)

In [ ]:
print(df.columns)

In [5]:
#Renomeando a primeira coluna
df = df.rename(columns={"North American Industry Classification System (NAICS) 6": "North American Industry Classification System (NAICS)"})

In [ ]:
first = df.columns[0]

df[first] = df[first].apply(lambda x: re.sub(r"\d", "", x))

display(df[first])

In [ ]:
display(df.head())

In [ ]:


df.iloc[:,1:] = df.iloc[:,1:].map(lambda cel: re.sub(",","", cel))
df.iloc[:,1:] = df.iloc[:,1:].astype(float)



display(df)

In [ ]:
# Traduzindo as colunas
column_translation_dict = {
    'North American Industry Classification System (NAICS)': 'Sistema de Classificação de Indústrias da América do Norte (SCIAN)',
    'January': 'Janeiro',
    'February': 'Fevereiro',
    'March': 'Março',
    'April': 'Abril',
    'May': 'Maio',
    'June': 'Junho',
    'July': 'Julho',
    'August': 'Agosto',
    'September': 'Setembro',
    'October': 'Outubro',
    'November': 'Novembro',
    'December': 'Dezembro'
}


def traduzir_coluna(column):
    for eng, ptbr in column_translation_dict.items():
        if eng in column:
            column = column.replace(eng, ptbr)
    return column


df.columns = df.columns.map(lambda column: column.strip())
df.columns = df.columns.map(traduzir_coluna)

display(df)

In [ ]:
# Traduzindo a primeira coluna
first = df.columns[0]

cell_translation_dict = {
    "Total employed, all industries": "Total empregado, todas as indústrias",
    "Goods-producing sector": "Setor de produção de bens",
    "Agriculture": "Agricultura",
    "Forestry, fishing, mining, quarrying, oil and gas": "Silvicultura, pesca, mineração, extração de pedreiras, petróleo e gás",
    "Utilities": "Serviços públicos",
    "Construction": "Construção",
    "Manufacturing": "Manufatura",
    "Services-producing sector": "Setor de produção de serviços",
    "Wholesale and retail trade": "Comércio atacadista e varejista",
    "Transportation and warehousing": "Transporte e armazenamento",
    "Finance, insurance, real estate, rental and leasing": "Finanças, seguros, imóveis, aluguel e leasing",
    "Professional, scientific and technical services": "Serviços profissionais, científicos e técnicos",
    "Business, building and other support services": "Serviços de negócios, construção e outros serviços de apoio",
    "Educational services": "Serviços educacionais",
    "Health care and social assistance": "Cuidados com a saúde e assistência social",
    "Information, culture and recreation": "Informação, cultura e recreação",
    "Accommodation and food services": "Acomodações e serviços de alimentação",
    "Other services (except public administration)": "Outros serviços (exceto administração pública)",
    "Public administration": "Administração pública"
}


def traduzir_cell(cell):
    for eng, ptbr in cell_translation_dict.items():
        if eng in cell:
            cell = cell.replace(eng,ptbr)
    return cell


df[first] = df[first].map(lambda cell: cell.strip())
df[first] = df[first].map(traduzir_cell)

display(df)

In [11]:
df.to_csv("Dados/Tratados/DadosSetoresCanada.csv", sep=";", index=False)

# *- Loading na S3*

In [12]:
import os
import boto3
from dotenv import load_dotenv


# Carregar variáveis
load_dotenv(r"credentials/.env")

# Configure as cresdencias da AWS
aws_access_key_id = os.getenv("AWS_ACCESS_KEY_ID")
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')

# Crie um client S3
s3 = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)

# Carregue o arquivo para o S3
s3.upload_file(
    Filename='Dados/Tratados/DadosSetoresCanada.csv',
    Bucket='projetofinal-consuelo',
    Key='DadosSetoresCanada.csv'
)

# **Setores e Subsetores NAICS (2020-2023)**

## *- Importando Bibliotecas*

In [2]:
from dotenv import load_dotenv
import pandas as pd
import boto3
import wget
import ssl
import os

## *- Extração*

In [3]:
# Criando diretório (caso não exista)

try:
    os.mkdir("Dados")
    os.mkdir("Dados/Landing")
except:
    pass

In [4]:
ssl._create_default_https_context = ssl._create_stdlib_context

url = 'https://data.ca.gov/dataset/3f08b68e-1d1a-4ba4-a07d-1ec3392ed191/resource/ca165fad-4f16-48c7-808e-8b5222bc4182/download/qcew-2020-2022.csv'
wget.download(url, 'Dados/Landing/qcew2020-2022.csv')

url = 'https://data.ca.gov/dataset/3f08b68e-1d1a-4ba4-a07d-1ec3392ed191/resource/119eef38-3b59-499f-8f7c-9bea4768469d/download/qcew-2023.csv'
wget.download(url, "Dados/Landing/qcew2023.csv")

'Dados/Landing/qcew2023 (1).csv'

## *- Transformação*

### -- Carregamento dos Dados

In [5]:
df2022 = pd.read_csv("Dados/Landing/qcew2020-2022.csv")
df2023 = pd.read_csv("Dados/Landing/qcew2023.csv")

### *-- Traduzindo Colunas*

In [6]:
colunas_traduzidas = {
    'Area Type': 'Tipo de Área',
    'Area Name': 'Nome da Área',
    'Year': 'Ano',
    'Time Period': 'Período de Tempo',
    'Ownership': 'Propriedade',
    'NAICS Level': 'Nível NAICS',
    'NAICS Code': 'Código NAICS',
    'Industry Name': 'Nome da Indústria',
    'Establishments': 'Estabelecimentos',
    'Average Monthly Employment': 'Emprego Médio Mensal',
    '1st Month Emp': 'Emprego no 1º Mês',
    '2nd Month Emp': 'Emprego no 2º Mês',
    '3rd Month Emp': 'Emprego no 3º Mês',
    'Total Wages (All Workers)': 'Salários Totais (Todos os Trabalhadores)',
    'Average Weekly Wages': 'Salário Médio Semanal'
}


df2022.rename(columns=colunas_traduzidas, inplace = True)
df2023.rename(columns=colunas_traduzidas, inplace = True)

In [7]:
display(df2022.head())
print("\n-------------------\n")
display(df2023.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2023,1st Qtr,Private,6.0,524298,All Other Insurance Related Activities,10,223,223,225,223,8.435605e+06,2901
1,County,Alameda County,2023,1st Qtr,Private,2.0,54,Professional and Technical Services,7315,76545,76542,76918,76176,3.445536e+09,3463
2,County,Alameda County,2023,1st Qtr,Private,6.0,541512,Computer Systems Design Services,814,5819,5878,5784,5795,2.162159e+08,2858
3,County,Alameda County,2023,1st Qtr,Private,6.0,541850,Display Advertising,11,160,157,162,163,5.615161e+06,2688
4,County,Alameda County,2023,1st Qtr,Private,6.0,551114,Managing Offices,211,16740,16717,16743,16761,9.291885e+08,4270

### *-- Padronizando Tipos*

In [8]:
#Primeiro transformando para inteiro para tirar o ponto flutuante
df2023['Nível NAICS'] = df2023['Nível NAICS'].astype(pd.Int64Dtype())
df2022['Nível NAICS'] = df2022['Nível NAICS'].astype(pd.Int64Dtype())

#Transformando para string
df2023['Nível NAICS'] = df2023['Nível NAICS'].astype(pd.StringDtype())
df2022['Código NAICS'] = df2022['Código NAICS'].astype(pd.StringDtype())


#Transformando Salário Médio em float
df2023['Salário Médio Semanal'] = df2023['Salário Médio Semanal'].astype(float)
df2022['Salário Médio Semanal'] = df2022['Salário Médio Semanal'].astype(float)

### *-- Juntando Tabelas*

In [9]:
df = pd.concat([df2022, df2023], ignore_index=True)

In [10]:
display(df)

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089532,County,Yuba County,2023,Annual,Private,<NA>,541219,Other Accounting Services,4,14,0,0,0,314380.0,442.0
1089533,County,Yuba County,2023,Annual,Private,<NA>,54143,Graphic Design Services,5,4,0,0,0,133497.0,604.0
1089534,County,Yuba County,2023,Annual,Private,<NA>,5416,Management & Technical Consulting Svc,12,79,0,0,0,7705299.0,1868.0
1089535,County,Yuba County,2023,Annual,Private,<NA>,54194,Veterinary Services,5,31,0,0,0,1386790.0,849.0
1089536,County,Yuba County,2023,Annual,Private,<NA>,56173,Landscaping Services,10,24,0,0,0,844467.0,667.0

### *-- Separando Períodos Anuais dos Trimestrais*

In [11]:
df_anual = df[df['Período de Tempo'] == 'Annual']
df_trimestral = df[df['Período de Tempo'] != 'Annual']

df = df_trimestral # Backup código

In [12]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,County,Alameda County,2020,1st Qtr,Federal Government,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,County,Alameda County,2020,1st Qtr,Federal Government,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,County,Alameda County,2020,1st Qtr,Federal Government,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,County,Alameda County,2020,1st Qtr,Federal Government,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,County,Alameda County,2020,1st Qtr,Federal Government,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
202638,County,Alpine County,2020,Annual,Private,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0
202639,County,Butte County,2020,Annual,Private,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0
202640,County,Calaveras County,2020,Annual,Private,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0
202641,County,Calaveras County,2020,Annual,Private,2,23,Construction,180,866,0,0,0,51419983.0,1142.0
202642,County,Alameda County,2020,Annual,Private,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0

### *-- Traduzindo Valores*

In [13]:
# print(set(df["Período de Tempo"]))
# print(set(df["Tipo de Área"]))
# print(set(df["Nome da Área"]))
# print(set(df["Propriedade"]))


# Pedindo tradução ao GPT

temp_dict = {
    '1st Qtr': 'Trimestre 1',
    '2nd Qtr': 'Trimestre 2',
    '3rd Qtr': 'Trimestre 3',
    '4th Qtr': 'Trimestre 4',
    'Annual': 'Anual'
}


tipo_dict = {
    'United States': 'Estados Unidos',
    'California - Statewide': 'Califórnia - Estado',
    'County': 'Condado'
}

nome_dict = {
    'Marin County': 'Condado de Marin',
    'California': 'Califórnia',
    'Nevada County': 'Condado de Nevada',
    'Siskiyou County': 'Condado de Siskiyou',
    'Humboldt County': 'Condado de Humboldt',
    'Santa Barbara County': 'Condado de Santa Bárbara',
    'Fresno County': 'Condado de Fresno',
    'Kern County': 'Condado de Kern',
    'Shasta County': 'Condado de Shasta',
    'Sierra County': 'Condado de Sierra',
    'Merced County': 'Condado de Merced',
    'Lake County': 'Condado de Lake',
    'Contra Costa County': 'Condado de Contra Costa',
    'Solano County': 'Condado de Solano',
    'Santa Clara County': 'Condado de Santa Clara',
    'Butte County': 'Condado de Butte',
    'Ventura County': 'Condado de Ventura',
    'Sacramento County': 'Condado de Sacramento',
    'Mono County': 'Condado de Mono',
    'Orange County': 'Condado de Orange',
    'Calaveras County': 'Condado de Calaveras',
    'Del Norte County': 'Condado de Del Norte',
    'San Benito County': 'Condado de San Benito',
    'Trinity County': 'Condado de Trinity',
    'United States': 'Estados Unidos',
    'Kings County': 'Condado de Kings',
    'Stanislaus County': 'Condado de Stanislaus',
    'Plumas County': 'Condado de Plumas',
    'Mariposa County': 'Condado de Mariposa',
    'Inyo County': 'Condado de Inyo',
    'Riverside County': 'Condado de Riverside',
    'San Diego County': 'Condado de San Diego',
    'Colusa County': 'Condado de Colusa',
    'San Luis Obispo County': 'Condado de San Luis Obispo',
    'San Bernardino County': 'Condado de San Bernardino',
    'Yuba County': 'Condado de Yuba',
    'Napa County': 'Condado de Napa',
    'El Dorado County': 'Condado de El Dorado',
    'Glenn County': 'Condado de Glenn',
    'Monterey County': 'Condado de Monterey',
    'Santa Cruz County': 'Condado de Santa Cruz',
    'Yolo County': 'Condado de Yolo',
    'Amador County': 'Condado de Amador',
    'Tuolumne County': 'Condado de Tuolumne',
    'Lassen County': 'Condado de Lassen',
    'Modoc County': 'Condado de Modoc',
    'Los Angeles County': 'Condado de Los Angeles',
    'San Joaquin County': 'Condado de San Joaquin',
    'Alpine County': 'Condado de Alpine',
    'San Francisco County': 'Condado de San Francisco',
    'Alameda County': 'Condado de Alameda',
    'Tehama County': 'Condado de Tehama',
    'Tulare County': 'Condado de Tulare',
    'Sutter County': 'Condado de Sutter',
    'Imperial County': 'Condado de Imperial',
    'Placer County': 'Condado de Placer',
    'San Mateo County': 'Condado de San Mateo',
    'Mendocino County': 'Condado de Mendocino',
    'Madera County': 'Condado de Madera',
    'Sonoma County': 'Condado de Sonoma'
}


prop_dict = {
    'Total Government': 'Governo Total',
    'Total U.I. Covered': 'Total Coberto pelo Seguro Desemprego',
    'Federal Government': 'Governo Federal',
    'Local Government': 'Governo Local',
    'Total Covered': 'Total Coberto',
    'Private': 'Setor Privado',
    'State Government': 'Governo Estadual'
}

In [14]:
# Substituindo valores

df["Período de Tempo"] = df["Período de Tempo"].map(temp_dict)
df["Tipo de Área"] = df["Tipo de Área"].map(tipo_dict)
df["Nome da Área"] = df["Nome da Área"].map(nome_dict)
df["Propriedade"] = df["Propriedade"].map(prop_dict)

df_anual["Período de Tempo"] = df_anual["Período de Tempo"].map(temp_dict)
df_anual["Tipo de Área"] = df_anual["Tipo de Área"].map(tipo_dict)
df_anual["Nome da Área"] = df_anual["Nome da Área"].map(nome_dict)
df_anual["Propriedade"] = df_anual["Propriedade"].map(prop_dict)

In [15]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal
202638,Condado,Condado de Alpine,2020,Anual,Setor Privado,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0
202640,Condado,Condado de Calaveras,2020,Anual,Setor Privado,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0
202641,Condado,Condado de Calaveras,2020,Anual,Setor Privado,2,23,Construction,180,866,0,0,0,51419983.0,1142.0
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0

### *-- Feature Engineering -> Adicionando Coluna de Setores*

In [16]:
# Importando dicionário de outro arquivo para captar setores e subsetores
from pegarSetores import pegar_setores


setores = pegar_setores()

def aplicar_setor(linha):

    valorCell = linha["Nome da Indústria"]

    if valorCell in setores:
        return setores[valorCell]
    else:
        return "NÃO LISTADO"

In [17]:
# Aplicando a função para ambas as tabelas

df["Setor"] = df.apply(aplicar_setor, axis=1)
df_anual["Setor"] = df_anual.apply(aplicar_setor, axis=1)

In [18]:
display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0,Generalistas
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0,Transportation and Warehousing
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,NÃO LISTADO
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0,"Professional, Scientific, and Technical Services"
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0,Health Care and Social Assistance

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
202638,Condado,Condado de Alpine,2020,Anual,Setor Privado,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0,Retail Trade
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0,NÃO LISTADO
202640,Condado,Condado de Calaveras,2020,Anual,Setor Privado,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0,Utilities
202641,Condado,Condado de Calaveras,2020,Anual,Setor Privado,2,23,Construction,180,866,0,0,0,51419983.0,1142.0,Construction
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0,NÃO LISTADO

#### *--- Adicionando Setores Ainda Não Listados*

In [19]:
# Classificando por Código

codigos_setor = {
    "11": "Agriculture, Forestry, Fishing and Hunting",
    "21": "Mining, Quarrying, and Oil and Gas Extraction",
    "22": "Utilities",
    "23": "Construction",
    # "31-33": "Manufacturing",
    "31": "Manufacturing",
    "32": "Manufacturing",
    "33": "Manufacturing",
    "42": "Wholesale Trade",
    # "44-45": "Retail Trade",
    "44": "Retail Trade",
    "45": "Retail Trade",
    # "48-49": "Transportation and Warehousing",
    "48": "Transportation and Warehousing",
    "49": "Transportation and Warehousing",
    "51": "Information",
    "52": "Finance and Insurance",
    "53": "Real Estate and Rental and Leasing",
    "54": "Professional, Scientific, and Technical Services",
    "55": "Management of Companies and Enterprises",
    "56": "Administrative and Support and Waste Management and Remediation Services",
    "61": "Educational Services",
    "62": "Health Care and Social Assistance",
    "71": "Arts, Entertainment, and Recreation",
    "72": "Accommodation and Food Services",
    "81": "Other Services (except Public Administration)",
    "92": "Public Administration (not covered in economic census)"
}

In [20]:
#Criando uma tabela temporária trimestral
temp_df = df[df["Setor"] == "NÃO LISTADO"].copy()
temp_df["Setor"] = temp_df["Código NAICS"].map(lambda cell: codigos_setor[cell.strip()[:2]] if cell.strip()[:2] in codigos_setor else "NÃO LISTADO")


#Criando uma tabela temporária anual
temp_df_anual = df_anual[df_anual["Setor"] == "NÃO LISTADO"].copy()
temp_df_anual["Setor"] = temp_df_anual["Código NAICS"].map(lambda cell: codigos_setor[cell.strip()[:2]] if cell.strip()[:2] in codigos_setor else "NÃO LISTADO")


display(temp_df.head())
print("\n-------------------\n")
display(temp_df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,"Professional, Scientific, and Technical Services"
10,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,6,522298,All Other Nondeposit Credit Intermediatn,1,11,11,12,12,369426.0,2436.0,Finance and Insurance
11,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,54,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,"Professional, Scientific, and Technical Services"
13,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,4,5416,Management & Technical Consulting Svc,1,7,7,7,7,247899.0,2724.0,"Professional, Scientific, and Technical Services"
15,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,621,Ambulatory Health Care Services,1,376,384,376,369,8804659.0,1800.0,Health Care and Social Assistance

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0,Retail Trade
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0,Manufacturing
202643,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334511,"Search, Detection & Navigation Instrumnt",5,441,0,0,0,32993301.0,1440.0,Manufacturing
202644,Condado,Condado de Alameda,2020,Anual,Setor Privado,4,3351,Electric Lighting Equipment Mfg,18,647,0,0,0,61920153.0,1841.0,Manufacturing
202645,Condado,Condado de Alameda,2020,Anual,Setor Privado,5,33592,Communication and Energy Wire and Cable,9,421,0,0,0,45986055.0,2099.0,Manufacturing

In [21]:
df[df["Setor"] == "NÃO LISTADO"] = temp_df

df_anual[df_anual["Setor"] == "NÃO LISTADO"] = temp_df_anual

display(df.head())
print("\n-------------------\n")
display(df_anual.head())

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
0,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,1024,Professional and Business Services,2,9,9,9,9,279730.0,2391.0,Generalistas
1,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,491,Postal Service,28,3189,3198,3181,3189,54692130.0,1319.0,Transportation and Warehousing
2,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,3,541,Professional and Technical Services,2,9,9,9,9,279730.0,2391.0,"Professional, Scientific, and Technical Services"
3,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,5,54133,Engineering Services,1,2,2,2,2,31831.0,1224.0,"Professional, Scientific, and Technical Services"
4,Condado,Condado de Alameda,2020,Trimestre 1,Governo Federal,2,62,Health Care and Social Assistance,1,376,384,376,369,8804659.0,1800.0,Health Care and Social Assistance

-------------------

,Tipo de Área,Nome da Área,Ano,Período de Tempo,Propriedade,Nível NAICS,Código NAICS,Nome da Indústria,Estabelecimentos,Emprego Médio Mensal,Emprego no 1º Mês,Emprego no 2º Mês,Emprego no 3º Mês,Salários Totais (Todos os Trabalhadores),Salário Médio Semanal,Setor
202638,Condado,Condado de Alpine,2020,Anual,Setor Privado,2,44-45,Retail Trade,4,13,0,0,0,315141.0,485.0,Retail Trade
202639,Condado,Condado de Butte,2020,Anual,Setor Privado,6,445210,Meat Markets,4,25,0,0,0,1210395.0,940.0,Retail Trade
202640,Condado,Condado de Calaveras,2020,Anual,Setor Privado,3,221,Utilities,5,108,0,0,0,15775439.0,2820.0,Utilities
202641,Condado,Condado de Calaveras,2020,Anual,Setor Privado,2,23,Construction,180,866,0,0,0,51419983.0,1142.0,Construction
202642,Condado,Condado de Alameda,2020,Anual,Setor Privado,6,334510,Electromedical Apparatus Manufacturing,37,1692,0,0,0,285925551.0,3250.0,Manufacturing

## *-- Traduzindo Setores e Subsetores*

In [22]:
from deep_translator import GoogleTranslator

tradutor = GoogleTranslator(source="en", target="pt")

In [23]:
# Traduzindo Subsetores

lista_subsetores = set(df["Nome da Indústria"])

tradutor = GoogleTranslator(source="en", target="pt")

for i, subsetor in enumerate(lista_subsetores):
    traduzido = tradutor.translate(subsetor)
    
    df.loc[df["Nome da Indústria"] == subsetor, "Nome da Indústria"] = traduzido
    df_anual.loc[df_anual["Nome da Indústria"] == subsetor, "Nome da Indústria"] = traduzido

    print(f"Linha {i + 1} traduzida")

Linha 1 traduzida
Linha 2 traduzida
Linha 3 traduzida
Linha 4 traduzida
Linha 5 traduzida
Linha 6 traduzida
Linha 7 traduzida
Linha 8 traduzida
Linha 9 traduzida
Linha 10 traduzida
Linha 11 traduzida
Linha 12 traduzida
Linha 13 traduzida
Linha 14 traduzida
Linha 15 traduzida
Linha 16 traduzida
Linha 17 traduzida
Linha 18 traduzida
Linha 19 traduzida
Linha 20 traduzida
Linha 21 traduzida
Linha 22 traduzida
Linha 23 traduzida
Linha 24 traduzida
Linha 25 traduzida
Linha 26 traduzida
Linha 27 traduzida
Linha 28 traduzida
Linha 29 traduzida
Linha 30 traduzida
Linha 31 traduzida
Linha 32 traduzida
Linha 33 traduzida
Linha 34 traduzida
Linha 35 traduzida
Linha 36 traduzida
Linha 37 traduzida
Linha 38 traduzida
Linha 39 traduzida
Linha 40 traduzida
Linha 41 traduzida
Linha 42 traduzida
Linha 43 traduzida
Linha 44 traduzida
Linha 45 traduzida
Linha 46 traduzida
Linha 47 traduzida
Linha 48 traduzida
Linha 49 traduzida
Linha 50 traduzida
Linha 51 traduzida
Linha 52 traduzida
Linha 53 traduzida
Linha 54 traduzida
Linha 55 traduzida
Linha 56 traduzida
Linha 57 traduzida
Linha 58 traduzida
Linha 59 traduzida
Linha 60 traduzida
Linha 61 traduzida
Linha 62 traduzida
Linha 63 traduzida
Linha 64 traduzida
Linha 65 traduzida
Linha 66 traduzida
Linha 67 traduzida
Linha 68 traduzida
Linha 69 traduzida
Linha 70 traduzida
Linha 71 traduzida
Linha 72 traduzida
Linha 73 traduzida
Linha 74 traduzida
Linha 75 traduzida
Linha 76 traduzida
Linha 77 traduzida
Linha 78 traduzida
Linha 79 traduzida
Linha 80 traduzida
Linha 81 traduzida
Linha 82 traduzida
Linha 83 traduzida
Linha 84 traduzida
Linha 85 traduzida
Linha 86 traduzida
Linha 87 traduzida
Linha 88 traduzida
Linha 89 traduzida
Linha 90 traduzida
Linha 91 traduzida
Linha 92 traduzida
Linha 93 traduzida
Linha 94 traduzida
Linha 95 traduzida
Linha 96 traduzida
Linha 97 traduzida
Linha 98 traduzida
Linha 99 traduzida
Linha 100 traduzida
Linha 101 traduzida
Linha 102 traduzida
Linha 103 traduzida
Linha 104 traduzida
Linha 105 traduzida
Linha 106 traduzida
Linha 107 traduzida
Linha 108 traduzida
Linha 109 traduzida
Linha 110 traduzida
Linha 111 traduzida
Linha 112 traduzida
Linha 113 traduzida
Linha 114 traduzida
Linha 115 traduzida
Linha 116 traduzida
Linha 117 traduzida
Linha 118 traduzida
Linha 119 traduzida
Linha 120 traduzida
Linha 121 traduzida
Linha 122 traduzida
Linha 123 traduzida
Linha 124 traduzida
Linha 125 traduzida
Linha 126 traduzida
Linha 127 traduzida
Linha 128 traduzida
Linha 129 traduzida
Linha 130 traduzida
Linha 131 traduzida
Linha 132 traduzida
Linha 133 traduzida
Linha 134 traduzida
Linha 135 traduzida
Linha 136 traduzida
Linha 137 traduzida
Linha 138 traduzida
Linha 139 traduzida
Linha 140 traduzida
Linha 141 traduzida
Linha 142 traduzida
Linha 143 traduzida
Linha 144 traduzida
Linha 145 traduzida
Linha 146 traduzida
Linha 147 traduzida
Linha 148 traduzida
Linha 149 traduzida
Linha 150 traduzida
Linha 151 traduzida
Linha 152 traduzida
Linha 153 traduzida
Linha 154 traduzida
Linha 155 traduzida
Linha 156 traduzida
Linha 157 traduzida
Linha 158 traduzida
Linha 159 traduzida
Linha 160 traduzida
Linha 161 traduzida
Linha 162 traduzida
Linha 163 traduzida
Linha 164 traduzida
Linha 165 traduzida
Linha 166 traduzida
Linha 167 traduzida
Linha 168 traduzida
Linha 169 traduzida
Linha 170 traduzida
Linha 171 traduzida
Linha 172 traduzida
Linha 173 traduzida
Linha 174 traduzida
Linha 175 traduzida
Linha 176 traduzida
Linha 177 traduzida
Linha 178 traduzida
Linha 179 traduzida
Linha 180 traduzida
Linha 181 traduzida
Linha 182 traduzida
Linha 183 traduzida
Linha 184 traduzida
Linha 185 traduzida
Linha 186 traduzida
Linha 187 traduzida
Linha 188 traduzida
Linha 189 traduzida
Linha 190 traduzida
Linha 191 traduzida
Linha 192 traduzida
Linha 193 traduzida
Linha 194 traduzida
Linha 195 traduzida
Linha 196 traduzida
Linha 197 traduzida
Linha 198 traduzida
Linha 199 traduzida
Linha 200 traduzida
Linha 201 traduzida
Linha 202 traduzida
Linha 203 traduzida
Linha 204 traduzida
Linha 205 traduzida
Linha 206 traduzida
Linha 207 traduzida
Linha 208 traduzida
Linha 209 traduzida
Linha 210 traduzida
Linha 211 traduzida
Linha 212 traduzida
Linha 213 traduzida
Linha 214 traduzida
Linha 215 traduzida
Linha 216 traduzida
Linha 217 traduzida
Linha 218 traduzida
Linha 219 traduzida
Linha 220 traduzida
Linha 221 traduzida
Linha 222 traduzida
Linha 223 traduzida
Linha 224 traduzida
Linha 225 traduzida
Linha 226 traduzida
Linha 227 traduzida
Linha 228 traduzida
Linha 229 traduzida
Linha 230 traduzida
Linha 231 traduzida
Linha 232 traduzida
Linha 233 traduzida
Linha 234 traduzida
Linha 235 traduzida
Linha 236 traduzida
Linha 237 traduzida
Linha 238 traduzida
Linha 239 traduzida
Linha 240 traduzida
Linha 241 traduzida
Linha 242 traduzida
Linha 243 traduzida
Linha 244 traduzida
Linha 245 traduzida
Linha 246 traduzida
Linha 247 traduzida
Linha 248 traduzida
Linha 249 traduzida
Linha 250 traduzida
Linha 251 traduzida
Linha 252 traduzida
Linha 253 traduzida
Linha 254 traduzida
Linha 255 traduzida
Linha 256 traduzida
Linha 257 traduzida
Linha 258 traduzida
Linha 259 traduzida
Linha 260 traduzida
Linha 261 traduzida
Linha 262 traduzida
Linha 263 traduzida
Linha 264 traduzida
Linha 265 traduzida
Linha 266 traduzida
Linha 267 traduzida
Linha 268 traduzida
Linha 269 traduzida
Linha 270 traduzida
Linha 271 traduzida
Linha 272 traduzida
Linha 273 traduzida
Linha 274 traduzida
Linha 275 traduzida
Linha 276 traduzida
Linha 277 traduzida
Linha 278 traduzida
Linha 279 traduzida
Linha 280 traduzida
Linha 281 traduzida
Linha 282 traduzida
Linha 283 traduzida
Linha 284 traduzida
Linha 285 traduzida
Linha 286 traduzida
Linha 287 traduzida
Linha 288 traduzida
Linha 289 traduzida
Linha 290 traduzida
Linha 291 traduzida
Linha 292 traduzida
Linha 293 traduzida
Linha 294 traduzida
Linha 295 traduzida
Linha 296 traduzida
Linha 297 traduzida
Linha 298 traduzida
Linha 299 traduzida
Linha 300 traduzida
Linha 301 traduzida
Linha 302 traduzida
Linha 303 traduzida
Linha 304 traduzida
Linha 305 traduzida
Linha 306 traduzida
Linha 307 traduzida
Linha 308 traduzida
Linha 309 traduzida
Linha 310 traduzida
Linha 311 traduzida
Linha 312 traduzida
Linha 313 traduzida
Linha 314 traduzida
Linha 315 traduzida
Linha 316 traduzida
Linha 317 traduzida
Linha 318 traduzida
Linha 319 traduzida
Linha 320 traduzida
Linha 321 traduzida
Linha 322 traduzida
Linha 323 traduzida
Linha 324 traduzida
Linha 325 traduzida
Linha 326 traduzida
Linha 327 traduzida
Linha 328 traduzida
Linha 329 traduzida
Linha 330 traduzida
Linha 331 traduzida
Linha 332 traduzida
Linha 333 traduzida
Linha 334 traduzida
Linha 335 traduzida
Linha 336 traduzida
Linha 337 traduzida
Linha 338 traduzida
Linha 339 traduzida
Linha 340 traduzida
Linha 341 traduzida
Linha 342 traduzida
Linha 343 traduzida
Linha 344 traduzida
Linha 345 traduzida
Linha 346 traduzida
Linha 347 traduzida
Linha 348 traduzida
Linha 349 traduzida
Linha 350 traduzida
Linha 351 traduzida
Linha 352 traduzida
Linha 353 traduzida
Linha 354 traduzida
Linha 355 traduzida
Linha 356 traduzida
Linha 357 traduzida
Linha 358 traduzida
Linha 359 traduzida
Linha 360 traduzida
Linha 361 traduzida
Linha 362 traduzida
Linha 363 traduzida
Linha 364 traduzida
Linha 365 traduzida
Linha 366 traduzida
Linha 367 traduzida
Linha 368 traduzida
Linha 369 traduzida
Linha 370 traduzida
Linha 371 traduzida
Linha 372 traduzida
Linha 373 traduzida
Linha 374 traduzida
Linha 375 traduzida
Linha 376 traduzida
Linha 377 traduzida
Linha 378 traduzida
Linha 379 traduzida
Linha 380 traduzida
Linha 381 traduzida
Linha 382 traduzida
Linha 383 traduzida
Linha 384 traduzida
Linha 385 traduzida
Linha 386 traduzida
Linha 387 traduzida
Linha 388 traduzida
Linha 389 traduzida
Linha 390 traduzida
Linha 391 traduzida
Linha 392 traduzida
Linha 393 traduzida
Linha 394 traduzida
Linha 395 traduzida
Linha 396 traduzida
Linha 397 traduzida
Linha 398 traduzida
Linha 399 traduzida
Linha 400 traduzida
Linha 401 traduzida
Linha 402 traduzida
Linha 403 traduzida
Linha 404 traduzida
Linha 405 traduzida
Linha 406 traduzida
Linha 407 traduzida
Linha 408 traduzida
Linha 409 traduzida
Linha 410 traduzida
Linha 411 traduzida
Linha 412 traduzida
Linha 413 traduzida
Linha 414 traduzida
Linha 415 traduzida
Linha 416 traduzida
Linha 417 traduzida
Linha 418 traduzida
Linha 419 traduzida
Linha 420 traduzida
Linha 421 traduzida
Linha 422 traduzida
Linha 423 traduzida
Linha 424 traduzida
Linha 425 traduzida
Linha 426 traduzida
Linha 427 traduzida
Linha 428 traduzida
Linha 429 traduzida
Linha 430 traduzida
Linha 431 traduzida
Linha 432 traduzida
Linha 433 traduzida
Linha 434 traduzida
Linha 435 traduzida
Linha 436 traduzida
Linha 437 traduzida
Linha 438 traduzida
Linha 439 traduzida
Linha 440 traduzida
Linha 441 traduzida
Linha 442 traduzida
Linha 443 traduzida
Linha 444 traduzida
Linha 445 traduzida
Linha 446 traduzida
Linha 447 traduzida
Linha 448 traduzida
Linha 449 traduzida
Linha 450 traduzida
Linha 451 traduzida
Linha 452 traduzida
Linha 453 traduzida
Linha 454 traduzida
Linha 455 traduzida
Linha 456 traduzida
Linha 457 traduzida
Linha 458 traduzida
Linha 459 traduzida
Linha 460 traduzida
Linha 461 traduzida
Linha 462 traduzida
Linha 463 traduzida
Linha 464 traduzida
Linha 465 traduzida
Linha 466 traduzida
Linha 467 traduzida
Linha 468 traduzida
Linha 469 traduzida
Linha 470 traduzida
Linha 471 traduzida
Linha 472 traduzida
Linha 473 traduzida
Linha 474 traduzida
Linha 475 traduzida
Linha 476 traduzida
Linha 477 traduzida
Linha 478 traduzida
Linha 479 traduzida
Linha 480 traduzida
Linha 481 traduzida
Linha 482 traduzida
Linha 483 traduzida
Linha 484 traduzida
Linha 485 traduzida
Linha 486 traduzida
Linha 487 traduzida
Linha 488 traduzida
Linha 489 traduzida
Linha 490 traduzida
Linha 491 traduzida
Linha 492 traduzida
Linha 493 traduzida
Linha 494 traduzida
Linha 495 traduzida
Linha 496 traduzida
Linha 497 traduzida
Linha 498 traduzida
Linha 499 traduzida
Linha 500 traduzida
Linha 501 traduzida
Linha 502 traduzida
Linha 503 traduzida
Linha 504 traduzida
Linha 505 traduzida
Linha 506 traduzida
Linha 507 traduzida
Linha 508 traduzida
Linha 509 traduzida
Linha 510 traduzida
Linha 511 traduzida
Linha 512 traduzida
Linha 513 traduzida
Linha 514 traduzida
Linha 515 traduzida
Linha 516 traduzida
Linha 517 traduzida
Linha 518 traduzida
Linha 519 traduzida
Linha 520 traduzida
Linha 521 traduzida
Linha 522 traduzida
Linha 523 traduzida
Linha 524 traduzida
Linha 525 traduzida
Linha 526 traduzida
Linha 527 traduzida
Linha 528 traduzida
Linha 529 traduzida
Linha 530 traduzida
Linha 531 traduzida
Linha 532 traduzida
Linha 533 traduzida
Linha 534 traduzida
Linha 535 traduzida
Linha 536 traduzida
Linha 537 traduzida
Linha 538 traduzida
Linha 539 traduzida
Linha 540 traduzida
Linha 541 traduzida
Linha 542 traduzida
Linha 543 traduzida
Linha 544 traduzida
Linha 545 traduzida
Linha 546 traduzida
Linha 547 traduzida
Linha 548 traduzida
Linha 549 traduzida
Linha 550 traduzida
Linha 551 traduzida
Linha 552 traduzida
Linha 553 traduzida
Linha 554 traduzida
Linha 555 traduzida
Linha 556 traduzida
Linha 557 traduzida
Linha 558 traduzida
Linha 559 traduzida
Linha 560 traduzida
Linha 561 traduzida
Linha 562 traduzida
Linha 563 traduzida
Linha 564 traduzida
Linha 565 traduzida
Linha 566 traduzida
Linha 567 traduzida
Linha 568 traduzida
Linha 569 traduzida
Linha 570 traduzida
Linha 571 traduzida
Linha 572 traduzida
Linha 573 traduzida
Linha 574 traduzida
Linha 575 traduzida
Linha 576 traduzida
Linha 577 traduzida
Linha 578 traduzida
Linha 579 traduzida
Linha 580 traduzida
Linha 581 traduzida
Linha 582 traduzida
Linha 583 traduzida
Linha 584 traduzida
Linha 585 traduzida
Linha 586 traduzida
Linha 587 traduzida
Linha 588 traduzida
Linha 589 traduzida
Linha 590 traduzida
Linha 591 traduzida
Linha 592 traduzida
Linha 593 traduzida
Linha 594 traduzida
Linha 595 traduzida
Linha 596 traduzida
Linha 597 traduzida
Linha 598 traduzida
Linha 599 traduzida
Linha 600 traduzida
Linha 601 traduzida
Linha 602 traduzida
Linha 603 traduzida
Linha 604 traduzida
Linha 605 traduzida
Linha 606 traduzida
Linha 607 traduzida
Linha 608 traduzida
Linha 609 traduzida
Linha 610 traduzida
Linha 611 traduzida
Linha 612 traduzida
Linha 613 traduzida
Linha 614 traduzida
Linha 615 traduzida
Linha 616 traduzida
Linha 617 traduzida
Linha 618 traduzida
Linha 619 traduzida
Linha 620 traduzida
Linha 621 traduzida
Linha 622 traduzida
Linha 623 traduzida
Linha 624 traduzida
Linha 625 traduzida
Linha 626 traduzida
Linha 627 traduzida
Linha 628 traduzida
Linha 629 traduzida
Linha 630 traduzida
Linha 631 traduzida
Linha 632 traduzida
Linha 633 traduzida
Linha 634 traduzida
Linha 635 traduzida
Linha 636 traduzida
Linha 637 traduzida
Linha 638 traduzida
Linha 639 traduzida
Linha 640 traduzida
Linha 641 traduzida
Linha 642 traduzida
Linha 643 traduzida
Linha 644 traduzida
Linha 645 traduzida
Linha 646 traduzida
Linha 647 traduzida
Linha 648 traduzida
Linha 649 traduzida
Linha 650 traduzida
Linha 651 traduzida
Linha 652 traduzida
Linha 653 traduzida
Linha 654 traduzida
Linha 655 traduzida
Linha 656 traduzida
Linha 657 traduzida
Linha 658 traduzida
Linha 659 traduzida
Linha 660 traduzida
Linha 661 traduzida
Linha 662 traduzida
Linha 663 traduzida
Linha 664 traduzida
Linha 665 traduzida
Linha 666 traduzida
Linha 667 traduzida
Linha 668 traduzida
Linha 669 traduzida
Linha 670 traduzida
Linha 671 traduzida
Linha 672 traduzida
Linha 673 traduzida
Linha 674 traduzida
Linha 675 traduzida
Linha 676 traduzida
Linha 677 traduzida
Linha 678 traduzida
Linha 679 traduzida
Linha 680 traduzida
Linha 681 traduzida
Linha 682 traduzida
Linha 683 traduzida
Linha 684 traduzida
Linha 685 traduzida
Linha 686 traduzida
Linha 687 traduzida
Linha 688 traduzida
Linha 689 traduzida
Linha 690 traduzida
Linha 691 traduzida
Linha 692 traduzida
Linha 693 traduzida
Linha 694 traduzida
Linha 695 traduzida
Linha 696 traduzida
Linha 697 traduzida
Linha 698 traduzida
Linha 699 traduzida
Linha 700 traduzida
Linha 701 traduzida
Linha 702 traduzida
Linha 703 traduzida
Linha 704 traduzida
Linha 705 traduzida
Linha 706 traduzida
Linha 707 traduzida
Linha 708 traduzida
Linha 709 traduzida
Linha 710 traduzida
Linha 711 traduzida
Linha 712 traduzida
Linha 713 traduzida
Linha 714 traduzida
Linha 715 traduzida
Linha 716 traduzida
Linha 717 traduzida
Linha 718 traduzida
Linha 719 traduzida
Linha 720 traduzida
Linha 721 traduzida
Linha 722 traduzida
Linha 723 traduzida
Linha 724 traduzida
Linha 725 traduzida
Linha 726 traduzida
Linha 727 traduzida
Linha 728 traduzida
Linha 729 traduzida
Linha 730 traduzida
Linha 731 traduzida
Linha 732 traduzida
Linha 733 traduzida
Linha 734 traduzida
Linha 735 traduzida
Linha 736 traduzida
Linha 737 traduzida
Linha 738 traduzida
Linha 739 traduzida
Linha 740 traduzida
Linha 741 traduzida
Linha 742 traduzida
Linha 743 traduzida
Linha 744 traduzida
Linha 745 traduzida
Linha 746 traduzida
Linha 747 traduzida
Linha 748 traduzida
Linha 749 traduzida
Linha 750 traduzida
Linha 751 traduzida
Linha 752 traduzida
Linha 753 traduzida
Linha 754 traduzida
Linha 755 traduzida
Linha 756 traduzida
Linha 757 traduzida
Linha 758 traduzida
Linha 759 traduzida
Linha 760 traduzida
Linha 761 traduzida
Linha 762 traduzida
Linha 763 traduzida
Linha 764 traduzida
Linha 765 traduzida
Linha 766 traduzida
Linha 767 traduzida
Linha 768 traduzida
Linha 769 traduzida
Linha 770 traduzida
Linha 771 traduzida
Linha 772 traduzida
Linha 773 traduzida
Linha 774 traduzida
Linha 775 traduzida
Linha 776 traduzida
Linha 777 traduzida
Linha 778 traduzida
Linha 779 traduzida
Linha 780 traduzida
Linha 781 traduzida
Linha 782 traduzida
Linha 783 traduzida
Linha 784 traduzida
Linha 785 traduzida
Linha 786 traduzida
Linha 787 traduzida
Linha 788 traduzida
Linha 789 traduzida
Linha 790 traduzida
Linha 791 traduzida
Linha 792 traduzida
Linha 793 traduzida
Linha 794 traduzida
Linha 795 traduzida
Linha 796 traduzida
Linha 797 traduzida
Linha 798 traduzida
Linha 799 traduzida
Linha 800 traduzida
Linha 801 traduzida
Linha 802 traduzida
Linha 803 traduzida
Linha 804 traduzida
Linha 805 traduzida
Linha 806 traduzida
Linha 807 traduzida
Linha 808 traduzida
Linha 809 traduzida
Linha 810 traduzida
Linha 811 traduzida
Linha 812 traduzida
Linha 813 traduzida
Linha 814 traduzida
Linha 815 traduzida
Linha 816 traduzida
Linha 817 traduzida
Linha 818 traduzida
Linha 819 traduzida
Linha 820 traduzida
Linha 821 traduzida
Linha 822 traduzida
Linha 823 traduzida
Linha 824 traduzida
Linha 825 traduzida
Linha 826 traduzida
Linha 827 traduzida
Linha 828 traduzida
Linha 829 traduzida
Linha 830 traduzida
Linha 831 traduzida
Linha 832 traduzida
Linha 833 traduzida
Linha 834 traduzida
Linha 835 traduzida
Linha 836 traduzida
Linha 837 traduzida
Linha 838 traduzida
Linha 839 traduzida
Linha 840 traduzida
Linha 841 traduzida
Linha 842 traduzida
Linha 843 traduzida
Linha 844 traduzida
Linha 845 traduzida
Linha 846 traduzida
Linha 847 traduzida
Linha 848 traduzida
Linha 849 traduzida
Linha 850 traduzida
Linha 851 traduzida
Linha 852 traduzida
Linha 853 traduzida
Linha 854 traduzida
Linha 855 traduzida
Linha 856 traduzida
Linha 857 traduzida
Linha 858 traduzida
Linha 859 traduzida
Linha 860 traduzida
Linha 861 traduzida
Linha 862 traduzida
Linha 863 traduzida
Linha 864 traduzida
Linha 865 traduzida
Linha 866 traduzida
Linha 867 traduzida
Linha 868 traduzida
Linha 869 traduzida
Linha 870 traduzida
Linha 871 traduzida
Linha 872 traduzida
Linha 873 traduzida
Linha 874 traduzida
Linha 875 traduzida
Linha 876 traduzida
Linha 877 traduzida
Linha 878 traduzida
Linha 879 traduzida
Linha 880 traduzida
Linha 881 traduzida
Linha 882 traduzida
Linha 883 traduzida
Linha 884 traduzida
Linha 885 traduzida
Linha 886 traduzida
Linha 887 traduzida
Linha 888 traduzida
Linha 889 traduzida
Linha 890 traduzida
Linha 891 traduzida
Linha 892 traduzida
Linha 893 traduzida
Linha 894 traduzida
Linha 895 traduzida
Linha 896 traduzida
Linha 897 traduzida
Linha 898 traduzida
Linha 899 traduzida
Linha 900 traduzida
Linha 901 traduzida
Linha 902 traduzida
Linha 903 traduzida
Linha 904 traduzida
Linha 905 traduzida
Linha 906 traduzida
Linha 907 traduzida
Linha 908 traduzida
Linha 909 traduzida
Linha 910 traduzida
Linha 911 traduzida
Linha 912 traduzida
Linha 913 traduzida
Linha 914 traduzida
Linha 915 traduzida
Linha 916 traduzida
Linha 917 traduzida
Linha 918 traduzida
Linha 919 traduzida
Linha 920 traduzida
Linha 921 traduzida
Linha 922 traduzida
Linha 923 traduzida
Linha 924 traduzida
Linha 925 traduzida
Linha 926 traduzida
Linha 927 traduzida
Linha 928 traduzida
Linha 929 traduzida
Linha 930 traduzida
Linha 931 traduzida
Linha 932 traduzida
Linha 933 traduzida
Linha 934 traduzida
Linha 935 traduzida
Linha 936 traduzida
Linha 937 traduzida
Linha 938 traduzida
Linha 939 traduzida
Linha 940 traduzida
Linha 941 traduzida
Linha 942 traduzida
Linha 943 traduzida
Linha 944 traduzida
Linha 945 traduzida
Linha 946 traduzida
Linha 947 traduzida
Linha 948 traduzida
Linha 949 traduzida
Linha 950 traduzida
Linha 951 traduzida
Linha 952 traduzida
Linha 953 traduzida
Linha 954 traduzida
Linha 955 traduzida
Linha 956 traduzida
Linha 957 traduzida
Linha 958 traduzida
Linha 959 traduzida
Linha 960 traduzida
Linha 961 traduzida
Linha 962 traduzida
Linha 963 traduzida
Linha 964 traduzida
Linha 965 traduzida
Linha 966 traduzida
Linha 967 traduzida
Linha 968 traduzida
Linha 969 traduzida
Linha 970 traduzida
Linha 971 traduzida
Linha 972 traduzida
Linha 973 traduzida
Linha 974 traduzida
Linha 975 traduzida
Linha 976 traduzida
Linha 977 traduzida
Linha 978 traduzida
Linha 979 traduzida
Linha 980 traduzida
Linha 981 traduzida
Linha 982 traduzida
Linha 983 traduzida
Linha 984 traduzida
Linha 985 traduzida
Linha 986 traduzida
Linha 987 traduzida
Linha 988 traduzida
Linha 989 traduzida
Linha 990 traduzida
Linha 991 traduzida
Linha 992 traduzida
Linha 993 traduzida
Linha 994 traduzida
Linha 995 traduzida
Linha 996 traduzida
Linha 997 traduzida
Linha 998 traduzida
Linha 999 traduzida
Linha 1000 traduzida
Linha 1001 traduzida
Linha 1002 traduzida
Linha 1003 traduzida
Linha 1004 traduzida
Linha 1005 traduzida

In [24]:
# Traduzindo Setores

lista_setores = set(df["Setor"])

tradutor = GoogleTranslator(source="en", target="pt")

for i, setor in enumerate(lista_setores):
    traduzido = tradutor.translate(setor)

    df.loc[df["Setor"] == setor, "Setor"] = traduzido
    df_anual.loc[df_anual["Setor"] == setor, "Setor"] = traduzido

    print(f"Linha {i + 1} traduzida")

Linha 1 traduzida
Linha 2 traduzida
Linha 3 traduzida
Linha 4 traduzida
Linha 5 traduzida
Linha 6 traduzida
Linha 7 traduzida
Linha 8 traduzida
Linha 9 traduzida
Linha 10 traduzida
Linha 11 traduzida
Linha 12 traduzida
Linha 13 traduzida
Linha 14 traduzida
Linha 15 traduzida
Linha 16 traduzida
Linha 17 traduzida
Linha 18 traduzida
Linha 19 traduzida
Linha 20 traduzida
Linha 21 traduzida
Linha 22 traduzida
Linha 23 traduzida

## *-- Salvando Arquivos*

In [28]:
df.to_csv("Dados/Tratados/QCEW_Setorizado.csv", index=False, sep=";")
df_anual.to_csv("Dados/Tratados/QCEW_Anual_Setorizado.csv", index=False, sep=";")

# *- Loading na S3*

In [29]:
import os
import boto3
from dotenv import load_dotenv


# Carregar variáveis
load_dotenv(r"credentials/.env")

# Configure as cresdencias da AWS
aws_access_key_id = os.getenv("AWS_ACCESS_KEY_ID")
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')

# Crie um client S3
s3 = boto3.client(
    's3',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key
)

# Carregue o arquivo trimestral para o S3
s3.upload_file(
    Filename='Dados/Tratados/QCEW_Setorizado.csv',
    Bucket='projetofinal-consuelo',
    Key='QCEW_Setorizado.csv'
)

# Carregue o arquivo anual para o S3
s3.upload_file(
    Filename='Dados/Tratados/QCEW_Anual_Setorizado.csv',
    Bucket='projetofinal-consuelo',
    Key='QCEW_Anual_Setorizado.csv'
)