# **Importando Bibliotecas**

In [4]:
import pandas as pd
from io import StringIO

In [6]:
with open("Dados/1410035501-noSymbol.csv", "r") as file:
    conteudo = file.read()

    texto_csv = ""

    conteudo_linhas = conteudo.split("\n")
    conteudo_linhas = conteudo_linhas[11:32]
    del conteudo_linhas[1]

    colunas = conteudo_linhas[0]

    lista_meses = colunas.split(",")
    meses = len(lista_meses[1:])

    for i, linha in enumerate(conteudo_linhas):

        valores = linha.split('"')

        valores = valores[1::2]

        valor_final = ";".join(valores)

        texto_csv += f"{valor_final}\n"

In [7]:
arquivo_csv = StringIO(texto_csv)

df = pd.read_csv(arquivo_csv, sep=";")

display(df)

,North American Industry Classification System (NAICS) 6,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,November 2023,December 2023,January 2024,February 2024,March 2024,April 2024,May 2024,June 2024,July 2024,August 2024
0,"Total employed, all industries 7","19,280.1","19,615.3","19,639.8","19,692.9","19,736.5","19,705.0","19,740.1","19,728.6","19,727.8",...,"20,318.1","20,324.9","20,362.2","20,402.9","20,400.7","20,491.1","20,517.8","20,516.4","20,513.6","20,535.7"
1,Goods-producing sector 8,"3,999.1","4,040.6","4,061.4","4,069.7","4,054.7","4,068.7","4,081.8","4,100.2","4,080.8",...,"4,160.7","4,127.8","4,104.8","4,098.5","4,128.4","4,118.0","4,097.3","4,109.9","4,122.0","4,124.7"
2,Agriculture 9,251.4,252.3,252.0,252.7,254.5,257.5,254.7,264.1,261.1,...,253.6,240.8,235.0,229.0,226.5,221.1,224.3,236.6,239.0,240.5
3,"Forestry, fishing, mining, quarrying, oil and ...",328.1,328.8,337.1,334.3,334.4,326.3,328.1,330.0,326.0,...,330.0,332.2,330.7,334.6,338.1,345.8,348.8,351.8,356.8,350.3
4,Utilities,143.9,142.7,140.5,147.5,148.3,145.8,147.9,151.5,155.4,...,154.2,158.8,155.8,155.1,159.4,154.4,149.0,146.0,152.2,145.4
5,Construction,"1,491.5","1,526.6","1,539.7","1,543.1","1,547.4","1,560.2","1,566.5","1,562.3","1,559.9",...,"1,596.8","1,581.7","1,575.1","1,585.6","1,600.9","1,589.8","1,560.2","1,556.4","1,563.4","1,566.7"
6,Manufacturing,"1,784.2","1,790.3","1,792.2","1,792.2","1,770.1","1,779.0","1,784.6","1,792.3","1,778.4",...,"1,826.1","1,814.3","1,808.1","1,794.2","1,803.5","1,806.9","1,815.0","1,819.2","1,810.6","1,821.8"
7,Services-producing sector 12,"15,281.0","15,574.7","15,578.4","15,623.1","15,681.9","15,636.2","15,658.2","15,628.4","15,647.0",...,"16,157.5","16,197.1","16,257.5","16,304.4","16,272.4","16,373.1","16,420.5","16,406.4","16,391.6","16,411.1"
8,Wholesale and retail trade,"2,993.4","3,017.1","3,031.0","3,033.1","3,038.6","2,990.6","2,989.9","2,981.6","2,966.6",...,"2,948.0","2,932.1","2,963.4","2,946.6","2,923.5","2,929.6","2,923.3","2,913.0","2,868.9","2,882.8"
9,Transportation and warehousing,"1,007.8","1,012.2",981.8,977.4,972.2,976.8,997.5,983.1,969.2,...,"1,062.4","1,053.5","1,073.4","1,082.8","1,081.6","1,088.3","1,067.7","1,056.0","1,070.5","1,072.1"
10,"Finance, insurance, real estate, rental and le...","1,352.9","1,356.6","1,344.3","1,348.9","1,356.0","1,357.7","1,362.7","1,373.1","1,380.1",...,"1,357.5","1,363.2","1,391.3","1,394.5","1,405.5","1,405.1","1,433.9","1,437.7","1,422.7","1,433.9"
11,"Professional, scientific and technical services","1,717.6","1,773.1","1,770.2","1,793.8","1,806.5","1,828.4","1,832.6","1,821.9","1,829.8",...,"1,903.1","1,939.3","1,922.8","1,940.7","1,920.8","1,946.3","1,947.6","1,937.6","1,949.8","1,933.6"
12,"Business, building and other support services 13",685.5,691.2,688.3,675.0,689.7,700.8,703.3,691.8,694.1,...,691.3,679.8,695.8,682.6,678.8,688.3,707.0,705.6,700.5,692.4
13,Educational services,"1,473.7","1,480.3","1,479.1","1,484.2","1,490.4","1,492.1","1,472.1","1,440.3","1,453.2",...,"1,518.4","1,519.6","1,547.3","1,530.3","1,538.1","1,533.6","1,521.5","1,529.5","1,531.0","1,557.7"
14,Health care and social assistance,"2,584.9","2,601.9","2,610.8","2,598.2","2,609.6","2,590.2","2,586.5","2,599.2","2,619.0",...,"2,709.9","2,726.8","2,713.4","2,721.6","2,761.5","2,778.9","2,808.8","2,811.4","2,817.5","2,842.5"
15,"Information, culture and recreation",740.7,814.5,811.0,818.3,831.7,814.9,817.6,805.7,807.5,...,857.4,855.8,843.0,852.4,842.4,852.3,841.5,830.5,839.9,840.0
16,Accommodation and food services,907.1,"1,023.3","1,035.9","1,049.1","1,048.1","1,053.9","1,055.1","1,067.8","1,066.4",...,"1,135.7","1,134.8","1,104.5","1,130.7","1,104.1","1,128.3","1,141.2","1,158.4","1,148.7","1,138.9"
17,Other services (except public administration),708.8,705.1,713.3,723.5,717.4,705.4,704.7,710.4,713.7,...,786.1,797.2,791.6,802.4,797.6,804.1,806.3,813.8,809.3,790.7
18,Public administration,"1,108.5","1,099.4","1,112.9","1,121.6","1,121.7","1,125.4","1,136.2","1,153.6","1,147.4",...,"1,187.8","1,195.1","1,211.0","1,219.8","1,218.4","1,218.3","1,221.6","1,212.8","1,232.8","1,226.4"